body, #all_but_footer, footer
{
    width: 100%;


}



header, footer
{
    flex-direction: column;

}


#heberpop, #hebergements, #hebergements_notitle, #populaire, #activities, #activities_notitle
{
    flex-direction: column;
    align-items: center;

}

#filtres
{
    flex-direction: column;

}

#menu_filtres
{
    flex-wrap: wrap;

}

#menu_filtres div
{
    display: flex;
    flex-direction: row;

}


nav
{

    flex-direction:row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;

}

#heberpop
{
    flex-direction: column-reverse;

}

#populairehead
{

    width: 100%;

}

#populaire
{
    border-radius: 0;
    width: 100%;
    
}

#hebergements
{
    background-color: white;

}





