@font-face {
    font-family: 'ralewayblack';
    src: url('Fonts/raleway-black-webfont.woff2') format('woff2'),
         url('Fonts/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack_italic';
    src: url('Fonts/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('Fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold_italic';
    src: url('Fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold';
    src: url('Fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('Fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('Fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('Fonts/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayitalic';
    src: url('Fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('Fonts/raleway-light-webfont.woff2') format('woff2'),
         url('Fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('Fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('Fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('Fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('Fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('Fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('Fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold';
    src: url('Fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('Fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('Fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('Fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin_italic';
    src: url('Fonts/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body
{
background-color: white;
width: 1400px;
margin: auto;
font-family: 'ralewayregular';
}

/*Habillage liens pour qu'ils ne changent pas de couleur après avoir été visités*/
a
{
    text-decoration: none;
    color: black;
}

#tout_sauf_footer
{

    width: 80%;
    margin: auto;
}

/*Mise en forme Header*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

#menu
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 0.9em;
    

}

.menu_list1
{
margin-right: 50px;
border-top: solid #0065FC 2px;
width: 150px;
text-align: center;
padding-top: 48px;

}

.menu_list1 a
{
    color: #0065FC;
}

.menu_list2
{
margin-right: 50px;
color: black;
padding-top: 50px;

}

.menu_list3
{
margin-right: 15px;
color: #0065FC;
font-weight: bold;
padding-top: 50px;

}

#Reservia
{
    width: 80px;
    height: 35px;
 
}


#trouvez h1
{   

    font-size: 1.2em;
    line-height: 0em;
    margin-top: 50px;
  
}

#trouvez p
{
    font-weight: 500;    

}
/*Mise en forme section 1 avec barre de recherche*/

/*Redimensionnement de toutes les icônes SVG*/
svg
{
width: 15px;
height: 15px;
}

/*Agencement de la barre de recherches*/
#search
{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    height: 46px;
    width: auto;
    
}


#location
{   
    margin-right: 15px;
    background-color: #F2F2F2;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    left : 15px;
   
 
}

#lieu
{
    font-weight: bold;
    height: 40px;
    width: 170px;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    border-right: none;
    border-left: none;
    padding-left: 15px;
}

#search input:focus 
{
    outline :none;

}

input
{
   
  
    font-family: 'ralewaysemibold';
    font-size: 0.9em;
    height: 46px;
    width : 150px;
}

#bouton
{

    background-color: #0065FC;
    color: white;
    font-family: 'ralewaysemibold';
    font-size: 0.9em;
    height :46px;
    width: 150px;
    border-radius: 0 10px 10px 0;
    border: none;
    position: relative;
    right : 4px;
    
    

}


/*Agencement de la ligne de filtres*/
#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    font-family: "ralewaybold";
    margin-top: 20px;
}

#filtres h2
{

    font-size: 1em;
}

#menu_filtres
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#menu_filtres h2
{
padding :10px;
}

.filtres
{
    display:flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    border: #F2F2F2 3px solid;
    height : 40px;
    padding-right: 15px;
    border-radius: 40px 40px 40px 40px;
    
}


.filtres:hover
{
  
    border: #DEEBFF 3px solid; 
    background-color: #5688d3 ;
    color:white;
}


/* cercle autour des icônes*/
.circle
{
    width: 46px; 
    height: 46px; 
    border-radius: 50%;
    background-color:#DEEBFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right : 2px;

}

/* Ligne + de 500 logements*/

.INFO
{
    padding: 5px;
    border-radius: 50%;
    border: 2px #F2F2F2 solid;
    
}

#infoline
{

    display: flex;
    flex-direction: row;
    align-items: center;
}

#infoline p
{
    margin-left: 20px;

}

/*Polices*/
#sections
{
font-family: "ralewaybold";
}

#sections
{
font-family: "ralewayregular";

}

h1
{
font-family: "ralewaybold";
font-size: 1em;
}

h2
{
font-family: "ralewaybold";
font-size: 1em;
}

h3
{
font-family: "ralewaybold";
font-size: 0.9em;
}
/* Section Hébergements à Marseille*/


/*habillage liens*/



#hebergements
{
    background-color: #F2F2F2;
    border-radius: 22px 22px 22px 22px;
    width: 500px;
}

#hebergements h1, #populairehead

{

    padding-top: 40px;
    padding-left: 40px;
}

#hebergements1of2, #hebergements2of2
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

}

#populaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width : 300px;
    background-color: #F2F2F2;
    border-radius: 22px 22px 22px 22px;
}

#populairehead
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#heberpop
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*encarts individuels dans sections*/

.Encarts

{
    background-color: white;
    border: white 5px solid;
    border-radius: 15px 15px 15px 15px;
  
}

.Encarts2

{   display: flex;
    flex-direction: row;
    background-color: white;
    border: white 5px solid;
    border-radius: 15px 15px 15px 15px;
  
}

.encartdroite
{   
    display: flex;
    flex-direction: column;
}


#hebergements img
{

    border-radius: 15px 15px 0px 0px;
    height: 150px;
    max-width: 100%;

}


#populaire img
{

    border-radius: 15px 15px 0px 0px;
    height: 100px;
    max-width: auto;

}


/*section "Activités à Marseille"

#Activites
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width :1400px;

}

#Activites img
{


    border-radius: 15px 15px 15px 15px;
    width:250px;
}

#col1 img, #col3 img
{


    border-radius: 15px 15px 15px 15px;

}

#col1, #col2, #col3, #col4
{

    width: 250px;
    height : 600px;
    border: 1px black solid;
}

/*



/*footer*/

footer ul
{
list-style-type: none;

}

footer
{
    
    background-color: #F2F2F2;
    display: none;
    flex-direction: row; 
}

footer div{

    margin-right: 100px;
}

