@font-face {
    font-family: 'ralewayblack';
    src: url('Fonts/raleway-black-webfont.woff2') format('woff2'),
         url('Fonts/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack_italic';
    src: url('Fonts/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('Fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold_italic';
    src: url('Fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold';
    src: url('Fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('Fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('Fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('Fonts/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayitalic';
    src: url('Fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('Fonts/raleway-light-webfont.woff2') format('woff2'),
         url('Fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('Fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('Fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('Fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('Fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('Fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('Fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold';
    src: url('Fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('Fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('Fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('Fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin_italic';
    src: url('Fonts/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body
{
background-color: white;
width: 1200px;
margin: auto;
font-family: 'ralewayregular';

}


/*Mise en forme Header*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#menu
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 0.9em;

}

.menu_list1
{
margin-right: 50px;
color: #0065FC;

}

.menu_list2
{
margin-right: 50px;
color: black;
}

.menu_list3
{
margin-right: 15px;
color: #0065FC;
font-weight: bold;
}

#Reservia
{
    width: 80px;
    height: 35px;
}


/*Mise en forme section 1 avec barre de recherche*/

/*Redimensionnement de toutes les icônes SVG*/
.icon, svg
{
width: 15px;
height: 15px;
}

#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    font-family: "ralewaybold";
}

#filtres h2
{

    font-size: 1em;
}

#menu_filtres
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.filtres
{
    display:flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content:flex-start;
    align-items: center;
    border: #F2F2F2 3px solid;
    height : 40px;
    padding-right: 15px;
    border-radius: 22px 22px 22px 22px;
}

/* cercle autour des icônes*/
.circle
{
    width: 44px; 
    height: 44px; 
    border-radius: 50%;
    background-color:#DEEBFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons
{
    fill: blue;
}