/* Police Raleway */

@font-face {
    font-family: 'ralewayblack';
    src: url('Fonts/raleway-black-webfont.woff2') format('woff2'),
         url('Fonts/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayblack_italic';
    src: url('Fonts/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaybold';
    src: url('Fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaybold_italic';
    src: url('Fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayextrabold';
    src: url('Fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('Fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayextralight';
    src: url('Fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('Fonts/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayitalic';
    src: url('Fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaylight';
    src: url('Fonts/raleway-light-webfont.woff2') format('woff2'),
         url('Fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaylight_italic';
    src: url('Fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaymedium';
    src: url('Fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('Fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('Fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayregular';
    src: url('Fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('Fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaysemibold';
    src: url('Fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('Fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('Fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaythin';
    src: url('Fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('Fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaythin_italic';
    src: url('Fonts/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('Fonts/raleway-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*attributs page*/

body
{
    background-color: white;
    font-family: 'ralewayregular';
    margin: auto;

}

#all_but_footer
{
    width: 1100px;
    margin: auto;

}


/*Habillage liens pour qu'ils ne changent pas de couleur après avoir été visités*/
a
{
    text-decoration: none;
    color: black;
}

/*Polices*/
sections
{
    font-family: "ralewayregular";

}

h1
{
    font-family: "ralewaybold";
    font-size: 1.2em;

}

h2
{
    font-family: "ralewaybold";
    font-size: 1em;

}

h3
{
    font-family: "ralewaybold";
    font-size: 0.9em;

}

p
{
    font-size: 0.8em;

}

/*Mise en forme Header*/

header img
{
    width: 80px;
    height: 35px;
 
}

header ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size: 0.8pm;

}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    
}


nav a
{
    
    padding-right: 25px;
    padding-left: 25px;
    color: #0065FC; 
    
}

#li1
{
    border-top:#0065FC solid 2px ;
    padding-top : 47px;

}

#li2
{
    color: black;

}



/*Mise en forme section 1 avec barre de recherche*/
#trouvez h1
{   
  
    margin-top: 50px;
  
}

#trouvez p
{
    font-weight: 500;    

}


/*Redimensionnement de toutes les icônes SVG */
svg
{
    width: 15px;
    height: 15px;
}

/*Redimensionnement et placement des étoiles de notation*/

.etoiles
{
    width: 12px;
    height: 12px;
}

.stars
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

/*Agencement de la barre de recherches "search"*/

form
{
    display: flex;
    flex-direction: row;
    
}

#search_bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#search_bar input:focus 
{
    outline :none;

}

#location_icon, #bouton
{
    height: 44px;
    border: none; 

}

#location_icon
{
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 44px;
    display :flex;
    justify-content: center;
    align-items: center;

}

#user_field
{
    font-family: 'ralewaybold';
    font-size: 0.9em;
    width: 170px;
    border : #F2F2F2 solid 2px;
    border-right: none;
    padding-left: 20px;

}


#bouton
{
    background-color: #0065FC;
    color: white;
    font-family: 'ralewaysemibold';
    font-size: 0.9em;
    border-radius: 0 15px 15px 0;
    width: 110px;

}


/*Agencement de la ligne de filtres*/


/*boîtes filtres individuelles*/
.filtres
{
    display:flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    border: #F2F2F2 3px solid;
    height : 40px;
    padding-right: 15px;
    border-radius: 40px 40px 40px 40px;
    
}

.filtres:hover
{
  
    border: #DEEBFF 3px solid; 
    background-color: #0065FC;
    color:white;
}


/*Agencement des boîtes*/

#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    font-family: "ralewaybold";
    margin-top: 20px;
}

#filtres h2
{
    font-size: 1em;

}

#menu_filtres
{
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

#menu_filtres h2
{
    padding :10px;

}

/* cercle autour des icônes de filtre*/
.circle
{
    width: 46px; 
    height: 46px; 
    border-radius: 50%;
    background-color:#DEEBFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right : 2px;

}




/* Ligne + de 500 logements*/

.info_icon
{
    padding: 5px;
    border-radius: 50%;
    border: 2px #F2F2F2 solid;
    
}

#infoline
{

    display: flex;
    flex-direction: row;
    align-items: center;
}

#infoline p
{
    margin-left: 20px;

}


/* Section Hébergements à Marseille*/

#hebergements
{
    background-color: #F2F2F2;
    border-radius: 22px 22px 22px 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
    margin-right: 3%

}

#hebergements h1, #hebergements h2
{

margin: 3% 5% 3% 5%;

}

#hebergements_notitle
{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


/*Encarts individuels dans section "Hébergements"*/

.inserts

{
    background-color: white;
    border: white 5px solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 20px #c0bfbf;
    line-height: 0.5;
    margin-bottom: 3%;
    margin-top: 1%;

}

.insert_bottom
{
    margin-left: 10px;

}

.inserts img
{
    border-radius: 11px 11px 0px 0px;
    width:195px;
    height:95px;
    object-fit:cover;
    
}


/*mise en forme section "Les plus populaires*/

#populaire
{
    background-color: #F2F2F2;
    border-radius: 22px 22px 22px 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;

}

#populaire_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 10% 3% 10%;
}


/*inserts individuels dans section "Les plus populaires"*/
.inserts2

{   
    display: flex;
    flex-direction: row;
    background-color: white;
    border: white 5px solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 20px #c0bfbf; 
    margin: 0 8% 8% 8%;
   
}

.inserts2 img
{
    border-radius: 11px 0px 0px 11px;
    width: 110px;
    height: 120px;
    object-fit:cover;

}

.inserts2 p
{
    line-height: 0px;

}

.insert_right
{
    margin-left: 15px;

}


/*Agencement en ligne sections "Hébergements à Marseille" & "Les plus populaires"*/
#heberpop
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;

}

/*section "Activités à Marseille"*/

#activities
{
margin: 4% 0 4% 0;

}


#activities_notitle
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}

#activities_notitle h3
{
    margin-left: 20px;
    font-size: 0.8em;

}


#col2, #col4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/*dimensionnement images*/

#activities img
{
    width: 240px;
    border-radius: 15px 15px 0px 0px;
    object-fit:cover;
   
}

#col1 img, #col3 img
{
    height:331px;

}

#col2-1 img
{
    height : 150px;

}

#col2-2 img
{
    height : 90px;

}

#col4-1 img
{
    height : 120px;

}

#col4-2 img
{
    height : 120px;

}

/*Ombres*/

#col1, #col2-1, #col2-2, #col3, #col4-1, #col4-2
{
    box-shadow: 1px 1px 20px #c0bfbf;
    border-radius: 15px 15px 15px 15px;

}


/*footer*/

footer
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #F2F2F2;
    font-size: 0.8em;
    padding-top: 20px;
    width: 1200px;
    margin: auto;

}


footer ul
{
    list-style-type: none;
    margin-right: 150px;

}


footer li
{
    font-size: 1em;
    line-height : 2;

}


footer h2
{ 
    font-family: 'ralewaybold';
    font-size: 1.2em;
    margin-left : 40px;
    
}






